# Use postgres/example user/password credentials
version: '3.1'

services:

  postgres:
    image: postgres
    restart: on-failure
    environment:
       - POSTGRES_USER=postgres
       - POSTGRES_PASSWORD=example
       - PGDATA=/var/lib/postgresql/data/pgdata
       - POSTGRES_DB=perftest
    volumes:
       - ./postgres_data:/var/lib/postgresql
    ports:
       - 5432:5432